/* sm */

@media (min-width: 768px) and (max-width: 991px) {
header[role="header"] {
	padding: 8% 0;
}
header[role="header"] nav ul {
	padding-top: 10%
}
main[role="main-home-wrapper"] article[role="pge-title-content"], main[role="main-inner-wrapper"] article[role="pge-title-content"] {
	padding:2%;
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header, main[role="main-inner-wrapper"] article[role="pge-title-content"] header {
	padding:2%;
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header h2, main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 {
	font-size: 34px;
}
main[role="main-home-wrapper"] article p br {
	display: none
}
footer[role="footer"] {
	padding: 30px 0
}
footer[role="footer"] nav {
	padding: 15px 0
}
main[role="main-inner-wrapper"] .about-content {
	padding: 6%!important;
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure figcaption {
	margin: 0 10%
}
section.blog-content figure .post-date {
	padding-top: 20px;
	height: 100px;
	width: 100px
}
article.contact-header[role="pge-title-content"] p a {
	padding-right: 10px
}
.contat-from-wrapper {
	margin-top: 10px;
	padding: 0 15px
}
.grid-lod li {
	width: 100% !important;
	position: static !important;
	display: inline-block
}
.grid-lod li img {
	width: 100%
}
.work-details, .blog-details {
	padding: 0;
	margin-top: 0
}

}

/* xs */

@media (max-width: 767px) {
header[role="header"] {
	padding: 2% 0;
}
header[role="header"] nav ul {
	padding-top: 10%
}
header[role="header"] nav ul > li {
	font-size: 30px
}
header[role="header"] nav ul > li > a {
	line-height: 55px
}
main[role="main-home-wrapper"] article[role="pge-title-content"], main[role="main-inner-wrapper"] article[role="pge-title-content"] {
	padding:2%!important;
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header, main[role="main-inner-wrapper"] article[role="pge-title-content"] header {
	padding-top: 0px
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header h2, main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 {
	font-size: 36px;
	text-align:center;
}
main[role="main-home-wrapper"] article[role="pge-title-content"] header h2 span, main[role="main-inner-wrapper"] article[role="pge-title-content"] header h2 span {
	font-size: 60px;
	text-align:center;
}
main[role="main-home-wrapper"] article {
	padding: 2%!important;
}
main[role="main-home-wrapper"] article p br {
	display: none
}
footer[role="footer"] {
	padding: 40px 0
}
footer[role="footer"] nav {
	padding: 15px 0
}
main[role="main-inner-wrapper"] .about-content {
	padding: 6%!important;
}
main[role="main-inner-wrapper"] .thumbnails-pan section figure {
	margin-bottom: 20px
}

article.contact-header[role="pge-title-content"] p a {
	font-size: 18px;
	padding-right: 10px
}
.work-details, .blog-details {
	padding: 0;
	margin-top: 0
}
.work-images {
	margin-top: 0
}
.work-images li {
	margin-bottom: 0;
	width: 100%
}
.work-images li figcaption h2 {
	font-size: 18px;
}
.grid-lod li {
	width: 100% !important;
	position: static !important
}